%form.navbar-form{role: "search", action: search_path}
  .input-group
    %input.form-control{type: "text", placeholder:"Search", name: "q", value: params[:q]}
    .input-group-btn
      %button.btn.btn-default{type: "submit"}
        %i.glyphicon.glyphicon-search
%br
