.audio-player {
    color: #383838;
    float: left;
    .jp-controls {
	float: left;
	.jp-play, .jp-pause, .jp-stop, .jp-previous, .jp-next {
	    margin-top: 10px;
	    font-size: 24px;
	    float: left;
	}
	.jp-stop {
	    margin-left: 5px;
	}
    }
    .jp-progress {
	float: left;
	width: 102px;
	margin-top: 35px;
	margin-left: 25px;
	height: 8px;
	position: absolute;
	box-shadow: 0px 0px 1px #6a6a6a;
	.jp-seek-bar {
	    width: 100%;
	    height: inherit;
	    background: #EAEAEA;
	    .jp-play-bar {
		height: inherit;
		background: #6a6a6a;
	    }
	}
    }
    .jp-details {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	.jp-current-time, .jp-duration {
	    float: left;
	    font-size: 10px;
	    margin-top: 8px;
	    margin-left: 5px;
	}
	.jp-title {
	    float: left;
	    margin-top: 3px;
	    font-size: 15px;
	    font-weight: bold;
	    margin-left: 5px;
	}
    }
}