.episode-title {
  margin-top: 10px;
  h2 {
  }
  audio, video {
    width: 100%;
  } 
}

ul.nav.nav-tabs.episode-show {
  margin-top: 10px;
}

.tab-content {
  padding-left: 8px;
  padding-top: 10px;
}

#comments {
  margin-top: 10px;
}

.action-buttons {
  padding-top: 12px;
  padding-bottom: 42px;
  .action-button {
    padding-bottom: 10px;
  } 
}

.playback-buttons {
  padding-bottom: 15px;
  
}

// Search
form.navbar-form {
  padding-left: 0px;
}

// Episode Timestamps
.timestamps {
    .timestamp:nth-child(odd) {
	background-color: white;
	.timestamp-topic {
	    background-color: #eee;
	}
    }
    .timestamp {
	padding: 10px;
	font-size: 13px;
	.timestamp-seconds, .timestamp-topic, .timestamp-description {
	    display: inline-block
	}
	.timestamp-seconds {
	    font-weight: bold;
	}
	.timestamp-topic {
	    margin-left: 5px;
	    font-size: 10px;
	    color: yellow;
	}

	.timestamp-description {
	    margin-left: 5px;
	}
    }
}