.episode-title {
  margin-top: 10px;
  h2 {
    display: inline;  
  }
  audio {
    display: inline;
    margin-left: 10px;
  } 
}

ul.nav.nav-tabs.episode-show {
  margin-top: 10px;
}

.tab-content {
  padding-left: 8px;
  padding-top: 10px;
  background: white;
}