.episode-title {
  margin-top: 10px;
  h2 {
  }
  audio, video {
    width: 100%;
  } 
}

ul.nav.nav-tabs.episode-show {
  margin-top: 10px;
}

.tab-content {
  padding-left: 8px;
  padding-top: 10px;
}

#comments {
  margin-top: 10px;
}

// Search
form.navbar-form {
  padding-left: 0px;
}