nav {
    .navbar-header {
	.search-bar {
	    height: 50px;
	    &.desktop {
		float: left;
	    }
	}
    }
    .navbar-collapse {
	.right-links {
	    float: right;
	}
	&.in {
	    float: none;
	    .search-bar {

	    }
	}
    }
}